@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import "~bootstrap/scss/bootstrap";
@import './common/variables';

body {
  margin: 0;
  padding: 0;
  background: $main-bkgd;
  color: $foreground;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  min-width: 360px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  color: $selection-fg;
  background-color: $selection-bg;
}

::-moz-selection {
  color: $selection-fg;
  background-color: $selection-bg;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border: $btn solid 1px;
  background: none;
  color: $btn-fg;
  font-weight: 300;
  font-size: 16px;
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    color: $btn-hov-fg;
    background-color: $btn-hov;
  }

  &:active {
    border: $btn solid 1px;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    border: $btn solid 1px;
    outline: none;
    box-shadow: none;
  }
}