$main-bkgd: #eeeeee;
$foreground: #333333;
$selection-bg: #0072ff;
$selection-fg: #fff;
$btn: #0072ff;
$btn-hov: #0062da;
$btn-fg: #0072ff;
$btn-hov-fg: #fff;
$spinner: #0062da;
$a: #0072ff;
$a-hov: #0062da;
$item-sep: #c1ddff;
